
@font-face {
	font-family: agency_r;
	src:url("../assets/fonts/Agency FB/AGENCYR.TTF"
}
@font-face{
	font-family: berlin_r;
	src:url("../assets/fonts/Berlin Sans FB/BRLNSR.TTF")
}
@font-face{
	font-family: twcen_c;
	src: url("../assets/fonts/Tw Cen MT/TCCM____.TTF")
}

@font-face{
	font-family: helvetica;
	src: url("../assets/fonts/helvetica/HelveticaNeue Thin.ttf")
}

@font-face{
	font-family: dubai_r;
	src: url("../assets/fonts/dubai/DUBAI-REGULAR.TTF")

}
@font-face{
	font-family: century;
	src: url("../assets/fonts/century/GOTHIC.TTF")
}

@font-face{
	font-family: mont;
	src: url("../assets/fonts/montesserat/Montserrat-Regular.ttf")
}



body{
	margin: 0;
}

.bar{
	background-color: black;
	height: 107px;		
	padding: 0px;
	margin: 0px;
	border: none;
	flex-direction: row;
	display: flex;
	justify-content: space-between;


}
.logo{
	color:#23E9DA;
	font-family: mont;
	font-size: 70px;
	padding-top: 10px;
	padding-left: 20px;


}

.barlink{
	text-decoration: none;
			color:#23E9DA;
}
.menu{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;


}
.pages{
	list-style: none;
	display: flex;
	flex-direction: row;


}

.pages li{
	color: #23E9DA;
	padding-right: 20px;
	padding-left: 20px;
	font-family: dubai_r;
	font-size: 25px;
	list-style: none;
	padding-bottom: 0px;

}

#intro{
	font-family: twcen_c;
	color: #079C7E;
	font-size: 50px;
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;

}

.tile_wrapper{

	display: flex;
	flex-direction: row;
	justify-content: center;

}

.banner{

	width: 60%;
	height: 70vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;


}
.screenshot{

	height: inherit;
}

.screenshot img{
	height: inherit;

}

.promotext{
	font-family: twcen_c;
	font-size: 250%;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #00427B;


}

.promotext p{
			text-align: center;
}






#badgewrapper{
	padding-top: 20px;
	padding-bottom: 20px;
}

.badges{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 33%;
	margin-right: 33%;
	padding-bottom: 70px;


}

.ios_badge{

	height: 60px;
	padding-right: 30px;

}
.gp_badge{

	height: 60px;
	padding-left: 30px;

}

.wrapper{
	text-align: center;

}

hr{
	width: 70%;
}




#description{
	font-family: helvetica;
	width: 60%
}




