@charset "utf-8";
/* CSS Document */

@font-face{
	font-family: helvetica;
	src: url("../assets/fonts/helvetica/HelveticaNeue Thin.ttf")
}

@font-face{
	font-family: dubai;
	src: url("../assets/fonts/dubai/DUBAI-REGULAR.TTF")
}

@font-face{
	font-family: twcen;
	src: url("../assets/fonts/Tw Cen MT/TCCM____.TTF")
}

body{
	margin: 0;
}




#intro{
	font-family: twcen;
	color: #079C7E;
	font-size: 50px;
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;

}

.tile_wrapper{

	display: flex;
	flex-direction: row;
	justify-content: center;

}

.banner{

	width: 60%;
	height: 70vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;


}
.screenshot{

	height: inherit;
}

.screenshot img{
	height: inherit;

}

.promotext{
	font-family: twcen;
	font-size: 42px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #00427B;



}

.promotext p{
			text-align: center;
}






#badgewrapper{
	padding-top: 20px;
	padding-bottom: 20px;
}

.badges{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 33%;
	margin-right: 33%;
	padding-bottom: 70px;


}

.ios_badge{

	height: 60px;
	padding-right: 30px;

}
.gp_badge{

	height: 60px;
	padding-left: 30px;

}

.wrapper{
	text-align: center;

}

hr{
	width: 70%;
}




#description{
	font-family: helvetica;
	width: 60%
}

#links{
	display: flex; 
	justify-content: center; 
	margin-top: 50px;
}

.network{
	padding: 5px;
	margin: 3% 3%;
	border-radius: 30px;
	height: 80px;
	width: 80px;
	text-align: center;
	display: flex;
	align-items: center;

}

.network img{
	height: 70%;
	width: 70%;
	

}

.network:hover {
	transform: scale(1.3,1.3) translate(0px,-20px) ;
	transition: all 0.2s ease;
	box-shadow: 0px 10px 30px 5px #aaaaaa;
	
}





.messageboxcontainer{
	
	//height: 83vh; 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 
	overflow: auto
}


.messagebox{
	
	width: 60%; 
	padding: 30px; margin: 30px; 
	box-shadow: 10px 10px 50px 3px #aaaaaa; 
	word-break: break-word;
	
}

.messagebox h1{
	
	font-family: helvetica; font-size: 50px
	
}

.messagebox p{
	
	font-family: helvetica; font-size: 30px; text-indent: 30px;
	
}

#description p{
	font-size: 20px;
}

#fb_subcontainer{
	width: 60%; 
	height: 500px;
	
}

#marvelogo{
	padding: 30px 15px;
	width: 80vh;
}

.comingsoon{
	
	font-family: helvetica; 
	padding: 10px 0px;
}





@media screen and (max-width: 850px){
	
	.messageboxcontainer{
		
		height: none;
		
		
	}
	.messagebox{
		width: none;
		padding: 20px;
		margin: 20px;
		box-shadow: 0 0 20px 0 #aaaaaa;
	}
	
	.messagebox h1{
		font-size: 30px;
	}
	
	.messagebox p{
		font-size: 20px;
	}
	
	.banner{
		width:initial;
		flex-direction: column;
		height: initial;
		
	}
	.screenshot img {
		width: 100%;
	}
	
	#intro{
		font-size: 30px;
	}
	
	.promotext{
		font-size: 30px;
	}
	
	.promotext p{
		margin: 10px;
	}
	
	.badges{
		
		margin-left: initial;
		margin-right: initial;
	}
	
	.ios_badge{
		height: 50px;
		padding-right: 10px;
		
	}
	
	.gp_badge{
		height: 50px;
		padding-left: 10px;
		
	}
	
	#description{
		width:80%;
	}
	
	#fb_subcontainer{
		width:80%;
	}
	
	.comingsoon{
		font-size: 30px;
	}
	
	#marvelogo{
		width: 60vh;
		height: 60vh;

	}
	
	
	
	
	
	
	
	
	
	
	
	
	
}

@media screen and (min-height: 500px){
	
	.messageboxcontainer{
		height: 83vh;
		
	}
	
	
}





	
	



